<div>
<label>{{ message }}</label>

<mat-card-content class="row" color="accent">
    <button mat-flat-button color="secondary-container" (click)="onEdit()" [disabled]="isAccepted || seen">Edit</button>
    <label>Choose existing one:</label>
    <mat-select [(ngModel)]="selectedCategory" color="accent">
        <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
    </mat-select>
    <button mat-stroked-button color="primary" id="accept" (click)="onAccept()" [disabled]="seen">Accept</button>
</mat-card-content>
</div>