
<div *ngIf="loading">Loading event details...</div>

<div *ngIf="error" class="error-message">{{ error }}</div>

<mat-card *ngIf="eventData">
  <mat-card-title>{{ eventData.name }}</mat-card-title>
  <mat-card-subtitle>{{ eventData.date | date:'fullDate' }}</mat-card-subtitle>
  <button mat-icon-button class="top-right-button" [matMenuTriggerFor]="reportMenu" [disabled]="!eventData.eventOrganizerDto">
    <mat-icon>report</mat-icon>
  </button>

  <mat-card-content>
    <p><strong>Description:</strong> {{ eventData.description }}</p>
    <p><strong>Max Attendance:</strong> {{ eventData.maxAttendances }}</p>
    <span><strong>Open:</strong> {{ eventData.open ? 'Open for everyone' : 'Invite only' }}</span>
    <div class="spacer"></div>
    <app-map [latitude]="eventData.latitude!" [longitude]="eventData.longitude!" [readonly]="true"></app-map>
  </mat-card-content>

  <mat-card-actions>
    <div class="actions-container">
      <button mat-raised-button color="primary" (click)="openAgenda()">See Detailed Agenda</button>
      <button mat-raised-button color="primary" (click)="downloadPdf()">
        Download pdf<mat-icon>download</mat-icon>
      </button>
      @if (isLoggedIn && attending !== null) {
        @if (!attending) {
          <button mat-flat-button color="primary"
          (click)="attendEvent()">
          Attend Event
        </button>
        } @else {
          <button mat-flat-button color="warn" (click)="cancelAttendance()">
            Cancel Attendance
          </button>
        }
      }
      <button mat-raised-button color="primary" (click)="chat()">Chat with organizer</button>
      <button mat-stroked-button color="accent" (click)="goBack()">Back</button>
    </div>
  </mat-card-actions>
</mat-card>
<div *ngIf="eventData" class="reviews-container">
  <div class="reviews-header">
    <h3>Reviews</h3>
    <div [matTooltip]="reason" [matTooltipDisabled]="canReview">
      <button mat-raised-button color="primary" (click)="openReviewDialog()"
        [disabled]="!canReview">Add Review</button>
    </div>
  </div>
  @for (review of reviews?.content?.entries(); track review[0]) {
    <app-approved-review-card [review]="review[1]"></app-approved-review-card>
  } @empty {
    <p>No reviews yet.</p>
  }
</div>
@if (!loading && eventData) {
  <mat-paginator [length]="totalElements"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  hidePageSize="true"
  [showFirstLastButtons]="true"
  (page)="onPageChange($event)"
  aria-label="Select page">
  </mat-paginator>
}

<mat-menu #reportMenu="matMenu" class="report-menu">
  <ng-template matMenuContent class="report-menu-content">
    <button mat-menu-item (click)="openReportDialog()" class="report-menu-item">
      @if (isAdmin) {
        <mat-icon>report</mat-icon>
      }
      <span>Report</span>
    </button>
    @if(isAdmin) {
      <button mat-menu-item (click)="suspendUser()">
        <mat-icon>person_off</mat-icon>
        <span>Suspend</span>
      </button>
    }
  </ng-template>
</mat-menu>