<div *ngIf="loading">Loading event details...</div>

<div *ngIf="error" class="error-message">{{ error }}</div>

<mat-card *ngIf="eventData">
  <mat-card-title>{{ eventData.name }}</mat-card-title>
  <mat-card-subtitle>{{ eventData.date | date:'fullDate' }}</mat-card-subtitle>

  <mat-card-content>
    <p><strong>Description:</strong> {{ eventData.description }}</p>
    <p><strong>Max Attendance:</strong> {{ eventData.maxAttendances }}</p>
    <p><strong>Open:</strong> {{ eventData.open ? 'Open for everyone' : 'Invite only' }}</p>
    <app-map [latitude]="eventData.latitude!" [longitude]="eventData.longitude!" [readonly]="true"></app-map>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openAgenda()">See Detailed Agenda</button>
    <button mat-stroked-button color="accent" (click)="goBack()">Back</button>
  </mat-card-actions>
</mat-card>
