.form-input {
    width: 400px;
}

button {
    width: 130px;
    margin-top: 15px;
    justify-content: center;
}
.no-budgets{
    font-size: small;
}
.price-info {
    margin-top: 20px;
    font-size: medium;
}
mat-form-field {
    width: 100%;
}
.fixed-duration {
    font-size: medium;
}
.second-step {
    margin-bottom: -24px;
    margin-top: 5px
}