<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title" [routerLink]="['home']">Event Planner</span>
  <div class="toolbar-actions">
    <a mat-flat-button [routerLink]="['signin']" class="custom-signin-button">Sign in</a>
      <mat-icon [routerLink]="['profile']">account_circle</mat-icon>
  </div>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container secondary">
  <mat-sidenav #sidenav mode="side" class="secondary" [opened]="toggle">
    <mat-nav-list class="secondary">
      <mat-list-item [routerLink]="['home']" color="primary">
        <mat-icon>home</mat-icon>
        Home
      </mat-list-item>
      <mat-list-item [routerLink]="['chat']" >
        <mat-icon>chat</mat-icon>
        Chat
      </mat-list-item>
      <mat-list-item [routerLink]="['new-service']">
        <mat-icon>add</mat-icon>
        New service
      </mat-list-item>
      <mat-list-item [routerLink]="['my-services']">
        <mat-icon>handshake</mat-icon>
        My services
      </mat-list-item>
      <mat-list-item [routerLink]="['notifications']">
        <mat-icon>notifications</mat-icon>
        Notifications
      </mat-list-item>
      <mat-list-item [routerLink]="['calendar']">
        <mat-icon>calendar_today</mat-icon>
        My Events
      </mat-list-item>
      <mat-list-item [routerLink]="['new-event-type']">
        <mat-icon>add</mat-icon>
        New Event Type
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>