<div class="agenda-container">
<h2 style="text-align: center;">Agenda</h2>
<div style="text-align: center; margin-bottom: 1rem;">
    <button mat-raised-button color="primary" (click)="addNewActivity()" *ngIf="!readonly">
        + Add New Activity
    </button>
</div>
  <table mat-table [dataSource]="activities" class="mat-elevation-z8 full-width-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let activity">{{ activity.name }}</td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Start</th>
      <td mat-cell *matCellDef="let activity">{{ formatMillisToTime(activity.activityStart) }}</td>
    </ng-container>

    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>End</th>
      <td mat-cell *matCellDef="let activity">{{ formatMillisToTime(activity.activityEnd) }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let activity">{{ activity.description }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let activity">{{ activity.location }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef >Actions</th>
      <td mat-cell *matCellDef="let activity">
        <button mat-button color="accent" (click)="editActivity(activity)">Edit</button>
        <button mat-button color="warn" (click)="deleteActivity(activity.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
