<h4>Top 5 events</h4>
<div *ngIf="isLoadingTopEvents" class="progress-spinner-container">
  <mat-progress-spinner mode="indeterminate"/>
</div>
<ng-container *ngIf="isBrowser">
  <drag-scroll [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true" [snap-disabled]="true">
      @for(event of topEvents; track event.id) {
        <div drag-scroll-item class="drag-scroll-item">
          <ng-template *ngTemplateOutlet="EventCard; context: {$implicit: event}"></ng-template>
        </div>
      } @empty {
        <div *ngIf="!isLoadingTopEvents" class="empty-list">No events found</div>
      }
  </drag-scroll>
</ng-container>
<hr/>

<h4>Top 5 services or products</h4>
<div *ngIf="isLoadingTopServiceProducts" class="progress-spinner-container">
  <mat-progress-spinner mode="indeterminate"/>
</div>
<ng-container *ngIf="isBrowser">
  <drag-scroll [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true" [snap-disabled]="true">
      @for(serviceProduct of topServiceProducts; track serviceProduct.id) {
        <div drag-scroll-item class="drag-scroll-item">
          <ng-template *ngTemplateOutlet="ServiceProductCard; context: {$implicit: serviceProduct}"></ng-template>
        </div>
      } @empty {
        <div *ngIf="!isLoadingTopServiceProducts" class="empty-list">No service products found</div>
      }
  </drag-scroll>
</ng-container>
<hr/>
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Events">
    <div>
      <div class="tab-start row">
        <div class="tab-label">
          <h4>Explore events</h4>
        </div>
        <div class="options row">
          <button mat-stroked-button color="primary" (click)="openEventFilterDialog()" 
            [disabled]="!fetchedEventTypes || !fetchedMaxAttendances" class="filter-btn">Filter</button>
          <mat-form-field appearance="fill" class="search-field" color="primary">
            <mat-label>Search</mat-label>
            <input type="search" matInput (change)="onSearch($event)" placeholder="Enter search term" />
            <button mat-icon-button matSuffix aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" class="sort-field">
            <mat-label>Sort by</mat-label>
            <mat-select [(value)]="eventSelectedSortOption" (selectionChange)="onSortEvents()">
              <mat-option value="date-desc">Newest first</mat-option>
              <mat-option value="date-asc">Oldest first</mat-option>
              <mat-option value="name-asc">A-Z</mat-option>
              <mat-option value="name-desc">Z-A</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isLoadingEvents" class="progress-spinner-container">
        <mat-progress-spinner mode="indeterminate"/>
      </div>
      <div class="row">
        @for(event of otherEvents; track event.id) {
          <ng-template *ngTemplateOutlet="EventCard; context: {$implicit: event}"></ng-template>
        } @empty {
          <div *ngIf="!isLoadingEvents" class="empty-list">No events found</div>
        }
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Services/Products">
    <div>
      <div class="tab-start row">
        <div class="tab-label">
          <h4>Explore services and products</h4>
        </div>
        <div class="options row">
          <button mat-stroked-button color="primary" (click)="openServiceProductFilterDialog()" [disabled]="!fetchedFilteringValues" class="filter-btn">Filter</button>
          <mat-form-field appearance="fill" class="search-field" color="primary">
            <mat-label>Search</mat-label>
            <input matInput (change)="onSearch($event)" placeholder="Enter search term" />
            <button mat-icon-button matSuffix aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" class="sort-field">
            <mat-label>Sort by</mat-label>
            <mat-select [(value)]="serviceProductSelectedSortOption" (selectionChange)="onSortServiceProducts()">
              <mat-option value="name-asc">A-Z</mat-option>
              <mat-option value="name-desc">Z-A</mat-option>
              <mat-option value="price-desc">Most expensive first</mat-option>
              <mat-option value="price-asc">Cheapest first</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isLoadingServiceProducts" class="progress-spinner-container">
        <mat-progress-spinner mode="indeterminate"/>
      </div>
      <div class="row">
        @for (serviceProduct of otherServiceProducts; track serviceProduct.id) {
          <ng-template *ngTemplateOutlet="ServiceProductCard; context: {$implicit: serviceProduct}"></ng-template>
        } @empty {
          <div *ngIf="!isLoadingServiceProducts" class="empty-list">No service products found</div>
        }
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<mat-paginator [length]="totalElements"
[pageIndex]="pageIndex"
[pageSize]="pageSize"
[pageSizeOptions]="[12, 24, 48]"
[showFirstLastButtons]="true"
(page)="onPageChange($event)"
aria-label="Select page">
</mat-paginator>




<ng-template #EventCard let-eventSummary>
  <mat-card class="event-card" appearance="outlined">
    <mat-card-header>
      <img mat-card-avatar class="profile-picture" src="images/avatar.png" alt="Profile Picture" 
      [matMenuTriggerFor]="reportMenu" [matMenuTriggerData]="{email: eventSummary.creatorEmail, name: eventSummary.creatorName}"/>
      <mat-card-title-group>
        <mat-card-title class="event-creator-name" [innerHTML]="eventSummary.creatorName"></mat-card-title>
        <mat-card-subtitle class="event-creator-email" [innerHTML]="eventSummary.creatorEmail"></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p class="name">{{eventSummary.name}}</p>
      <p class="date">{{eventSummary.date | date: 'MMMM d, yyyy'}}</p>
      <br>
      <p class="description">{{eventSummary.description}}</p>
      <br>
    </mat-card-content>
<mat-card-actions align="start">
  <button mat-flat-button color="primary" (click)="navigateToEventDetails(eventSummary.id)">
    More info
  </button>

  <!-- Like / Unlike button -->
  <button mat-icon-button color="warn"
          *ngIf="isEventFavorite(eventSummary.id); else notFav"
          (click)="removeFromFavorites(eventSummary.id)">
    <mat-icon>favorite</mat-icon>
  </button>

  <ng-template #notFav>
    <button mat-icon-button (click)="addToFavorites(eventSummary.id)">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </ng-template>
</mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #ServiceProductCard let-serviceProduct>
  <mat-card class="service-product-card" appearance="outlined">
    <mat-card-header>
      <img mat-card-avatar class="profile-picture" src="images/monogram.png" alt="Profile Picture" 
      [matMenuTriggerFor]="reportMenu" [matMenuTriggerData]="{email: serviceProduct.creatorEmail, name: serviceProduct.creatorName}"/>
      <mat-card-title-group>
        <mat-card-title [innerHTML]="serviceProduct.creatorName"></mat-card-title>
        <mat-card-subtitle [innerHTML]="serviceProduct.creatorEmail"></mat-card-subtitle>
        <img *ngIf="serviceProduct.image" mat-card-lg-image class="card-image" [src]="serviceProduct.image" alt="Service or product image">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p class="name">{{serviceProduct.name}}</p>
      <p class="price">Price: €{{serviceProduct.price}}</p>
      <br>
      <p class="description">{{serviceProduct.description}}</p>
      <br>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-flat-button color="primary">More info</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<mat-menu #reportMenu="matMenu" class="report-menu">
  <ng-template matMenuContent let-email="email" let-name="name">
    <button mat-menu-item (click)="openReportDialog(email, name)">
      <mat-icon>report</mat-icon>
      <span>Report</span>
    </button>
    @if(isAdmin) {
      <button mat-menu-item (click)="suspendUser(email)">
        <mat-icon>person_off</mat-icon>
        <span>Suspend</span>
      </button>
    }
  </ng-template>
</mat-menu>