:root{
    --mdc-outlined-card-outline-width: 20 !important;
}
// div {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     align-content: center;
// }
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    overflow-x: auto;
}
.event-card, .service-product-card{
    max-width: 400px;
    margin-bottom: 8px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    border-width: 0px;
    flex: 0 0 auto;
}
.profile-picture {
    width: 50px;
    height: 50px;
    padding-right: 10px;
  }
.mat-mdc-card-subtitle{
    color:#222222;
}
.card-content{
    padding-top: 50px;
}
.name{
    font-size: large;
    margin: 0;
}
.date, .price{
    margin: 0;
}
.description{
    margin: 0;
}