<div class="form-input">
<h6 *ngIf="!spData.dtype">Service reservation</h6>
<h6 *ngIf="spData.dtype === 'Product'">Product purchase</h6>

<mat-form-field appearance="fill">
    <mat-label>Events</mat-label>
    <mat-select [formControl]="selectedEvent" (selectionChange)="onEventSelected($event)">
        <mat-option *ngFor="let e of events; let i = index" [value]="i">
        {{ e.name }}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="selectedBudget.hasError('required')">
        One event must be selected.
    </mat-error>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Budget items</mat-label>
    <mat-select [formControl]="selectedBudget">
        <mat-option *ngFor="let budget of budgets" [value]="budget.id">
        {{ budget.name }}
        </mat-option>
    </mat-select>
    <p class="no-budgets" *ngIf="budgets.length === 0 && index >= 0">
        There are no budget items for this category. Create a new one.
    </p>
    <mat-error *ngIf="budgets.length > 0 && selectedBudget.hasError('required')">
        One budget item must be selected.
    </mat-error>
</mat-form-field>

<button [disabled]="(index < 0)" mat-raised-button color="primary" (click)="goToBudget()">Go to budget</button>

<p style="margin-top: 20px;">Price: {{ spData.price}} €</p>
<p>Discount: {{ spData.discount}} €</p>
<p><strong>Total: {{ totalPrice }} €</strong></p>

<button mat-raised-button color="primary" (click)="confirmBookingPurchase()"
    style="margin-right: 8px;">Confirm</button>
<button mat-stroked-button color="accent" (click)="onCancel()">Cancel</button>

</div>