<div class="row" id="all">
    <div id="left-div">
    
        <!-- Service categories combobox -->
        <div class="custom-combobox">
            <label for="serviceCategories" class="custom-label">Event type:</label>
            <div class="custom-select-wrapper">
                <select id="eventTypes" class="custom-select"[(ngModel)]="selectedType">
                    <option *ngFor="let type of eventTypes" [value]="type">{{ type }}</option>
                </select>
                <span class="custom-arrow">▼</span>
            </div>
        </div>
    
        <button class="new" style="margin-top: 100px;">New category request</button>
    
        <!-- 5 textboxes for: name, desc, spec, price and discount -->
        <div class="form-container">
        <label for="name" class="form-label">Name:</label>
        <input [(ngModel)]=service.name type="text" id="name" class="form-input" placeholder="Enter the name">
    
        <label for="description" class="form-label">Description:</label>
        <textarea [(ngModel)]=service.description type="text" id="description" class="form-input" placeholder="Enter the description"></textarea>
    
        <label for="specifies" class="form-label">Specifies:</label>
        <textarea [(ngModel)]=service.specifies id="specifies" class="form-input" placeholder="Enter the specifies"></textarea>
    
        <label for="max-attendances" class="form-label">Max attendances:</label>
        <input [(ngModel)]=service.cancellationDeadline type="number" id="max-attendances" class="form-input" placeholder="Enter Max attendances">
        
        </div>
    </div>
    
    <div id="right-div">

    
        
    </div>
    </div>
    
    <div class="row" id="end">
        <button (click)="backToAllServicesPerhaps()" class="new">Save</button>
        <button (click)="backToAllServicesPerhaps()" class="new" id="cancel">Cancel</button>
    </div>
    
    