.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:70vh;
  }
  
  form {
    width: 300px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  