<div class="chat-layout">
  <!-- Sidebar -->
  <div class="chat-sidebar">
    <h3>Chats</h3>
    <ul>
      <li *ngFor="let myChat of myChats" 
          (click)="selectChat(myChat)" 
          [class.active]="myChat.id === chat?.id">
        @if (myChat.user1.id === myId) {
          <p>{{ myChat.user2.firstName }} {{ myChat.user2.lastName }}</p>
        }
        @else {
          <p>{{ myChat.user1.firstName }} {{ myChat.user1.lastName }}</p>
        }
      </li>
    </ul>
  </div>

<!-- Chat window -->
  <div class="chat-window" *ngIf="chat">
    <div class="chat-header">
      <h3>{{ chatFriend?.firstName }} {{ chatFriend?.lastName }}</h3>
      @if (canBlockUser()) {
        <button mat-button class="block-button" (click)="toggleBlock()" color="warn">
          <mat-icon>block</mat-icon>
          @if (hasBlockedUser()) {
            Unblock user
          } @else {
            Block user
          }
        </button>
      }
    </div>

    <div class="messages">
      
      @if (chatBlocked()) {
        @if (bothBlocked()) {
          <p>You and this user blocked each other</p>
        } @else if (hasBlockedUser()) {
          <p>You blocked this user</p>
        } @else {
          <p>This user blocked you</p>
        }
      }
      @else {
        <div *ngFor="let msg of chat.messages" [class.mine]="msg.toUser.id === chatFriendId">
          {{ msg.text }}
        </div>
      }
    </div>

    <div class="input-area">
      <input [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Type a message..." />
      <button mat-flat-button color="primary" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
