<div class="row">
  <button class="fancy-button" (click)="openFilterDialog()">Filter 🔽</button>

  <div class="searchbar">
    <input id="search-box" type="text" placeholder="Search" />
    <button id="search-btn" class="fancy-button">🔍</button>
  </div>

  <button class="fancy-button">Price list 📋</button>
</div>

<div class="services-container">
    <div *ngFor="let service of myServices" class="card">
      <img src="images/catering.jpeg" alt="{{ service.name }}" class="card-image" />
      <div class="card-content">
        <h3>{{ service.name }}</h3>
        <p>{{ service.description }}</p>
        <div class="row">
          <p><strong>Price:</strong> {{ service.price }}</p>
          <p><strong>Discount:</strong> {{ service.discount }}</p>
        </div>

        <div class="row" id="end">
          <button mat-button class="fancy-button" (click)="navigateToEditService(service.id)">Edit</button>
          <button id="delete" class="fancy-button" (click)="openDialog()">Delete</button>
        </div>

      </div>
    </div>
  </div>
  