<h3 mat-dialog-title>Filter Events</h3>
<mat-dialog-content color="primary">
  <div class="filter-category">
    <h3>Category 1</h3>
    <mat-checkbox color="primary">Option 1</mat-checkbox>
    <mat-checkbox color="primary">Option 2</mat-checkbox>
    <mat-checkbox color="primary">Option 3</mat-checkbox>
  </div>

  <div class="filter-category">
    <h3>Category 2</h3>
    <mat-checkbox color="primary">Option A</mat-checkbox>
    <mat-checkbox color="primary">Option B</mat-checkbox>
  </div>

  <div class="filter-category">
    <h3>Category 3</h3>
    <mat-checkbox color="primary">Option X</mat-checkbox>
    <mat-checkbox color="primary">Option Y</mat-checkbox>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button  color="primary" mat-flat-button mat-dialog-close>Cancel</button>
  <button  color="primary" mat-flat-button mat-dialog-close>Apply Filters</button>
</mat-dialog-actions>
