<div *ngIf="loading">Loading events...</div>
<div *ngIf="error" class="error-message">{{ error }}</div>

<div *ngIf="!loading && !error && myEvents.length === 0">
  <p>No events found.</p>
</div>

<div class="events-container" *ngIf="myEvents.length > 0">
  <mat-card *ngFor="let event of myEvents" class="event-card">
    <mat-card-header (click)="navigateToEventDetails(event.id)">
      <mat-card-title>{{ event.name }}</mat-card-title>
      <mat-card-subtitle>{{ event.date | date:'mediumDate' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content (click)="navigateToEventDetails(event.id)">
      <p><strong>Event type:</strong> {{event.type.name}}</p>
      <p><strong>Event visibility:</strong> {{ event.open ? 'Open for everyone' : 'Invite only' }}</p>

    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="navigateToEventDetails(event.id)">View Details</button>
      <button mat-button color="warn" (click)="deleteEvent(event.id)">Delete event</button>
      <button mat-raised-button color="primary" (click)="downloadPdf(event.id)">
        <mat-icon>download</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator
  [length]="totalEvents"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[1, 5, 10, 25]"
  (page)="onPageChange($event)">
</mat-paginator>
