<mat-dialog-content>
    <h3 mat-dialog-title>Filter Events</h3>
    <button class="close-btn" (click)="close()">✕</button>

    <div class="filter-category">
        <h5>Price interval (€)</h5>
        <div class="same-row">
            <p>minimum</p>
            <input type="number" class="form-input" [formControl]="minPrice" />
            <p>maximum</p>
            <input type="number" class="form-input" [formControl]="maxPrice" />
        </div>
    </div>

    <div class="filter-category">
        <h5>Availability</h5>
        <mat-checkbox [formControl]="available">available</mat-checkbox>
    </div>

    <div class="filter-category">
        <h5>Service categories</h5>
        <select id="serviceCategories" class="custom-select" [formControl]="selectedCategory">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
    </div>

    <div class="filter-category">
        <h5>Event types</h5>
        <select id="eventTypes" class="custom-select" [formControl]="selectedEventTypes" multiple>
            <option *ngFor="let eventType of eventTypes" [value]="eventType.id">{{ eventType.name }}</option>
        </select>
    </div>

    <div class="row">
        <button (click)="filter()" class="fancy-button">Filter</button>
        <button (click)="close()" class="fancy-button" id="cancel">Cancel</button>
    </div>
</mat-dialog-content>
