<h2 mat-dialog-title>Dialog with elements</h2>
<mat-dialog-content>
    <mat-form-field class="invitation-chip-list">
        <mat-label>Invitations</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter invitations">
        @for (invitation of invitations(); track invitation) {
            <mat-chip-row
            (removed)="remove(invitation)"
            [editable]="invitation.editable"
            (edited)="edit(invitation, $event)"
            [aria-description]="'press enter to edit ' + invitation.email"
            >   
            {{invitation.email}}
            <button matChipRemove [attr.aria-label]="'remove ' + invitation.email">
                <mat-icon>cancel</mat-icon>
            </button>
            </mat-chip-row>
        }
        <input
            placeholder="New email..."
            type="email"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
        />
        </mat-chip-grid>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancel</button>
  <button type="submit" (click)="apply()" mat-dialog-close mat-button>Apply</button>
</mat-dialog-actions>