<div *ngIf="loading">Loading service/product details...</div>

<div *ngIf="error" class="error-message">{{ error }}</div>

<mat-card *ngIf="spData">
  <mat-card-title>{{ spData.name }}</mat-card-title>
  <mat-card-subtitle>{{ spData.category?.name }}</mat-card-subtitle>
  <button mat-icon-button class="top-right-button" [matMenuTriggerFor]="reportMenu" [disabled]="!spData.serviceProductProvider">
    <mat-icon>report</mat-icon>
  </button>

  <mat-card-content>
    <p><strong>Description:</strong> {{ spData.description }}</p>
    <p><strong>Price: </strong> {{ spData.price}} €</p>
    <p><strong>Discount: </strong> {{ spData.discount}} €</p>
    <p><strong>Available: </strong> {{ spData.available ? 'yes' : 'no'}}</p>
    <p><strong>Available event types: </strong></p>
    <li *ngFor="let type of spData.availableEventTypes">{{ type.name }}</li>

    <!-- service only -->
    <br>
    <div *ngIf="isService">
        <p><strong>Specifics: </strong> {{ spData.specifies }}</p>
        <p><strong>Reservation deadline: </strong> {{ spData.reservationDaysDeadline }} days</p>
        <p><strong>Cancellation deadline: </strong> {{ spData.cancellationDaysDeadline }} days</p>
        <div *ngIf="hasDuration; else engagement">
            <p><strong>Duration: </strong> {{ spData.duration }} h</p>
        </div>
        <ng-template #engagement>
            <p><strong>Engagement interval: </strong>
                 {{ spData.minEngagementDuration }} - {{ spData.maxEngagementDuration }} h</p>
        </ng-template>
        <p><strong>Automatic reservation ability: </strong> {{ spData.automaticReserved ? 'yes' : 'no'}}</p>
    </div>

    <div class="scroll-container">
        <mat-card class="card" *ngFor="let image of spData.imageEncodedNames">
            <img alt="Service or product image" [src]="getImagePath(image)">
        </mat-card>
    </div>
    

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="goToSpp(spData.serviceProductProvider?.id || -1)">See Provider's Data</button>
    @if (isOrganizer) {
    <button style="margin: 5px" mat-stroked-button color="accent" (click)="chat()">Chat with provider</button>
    }
    <button mat-stroked-button color="accent" (click)="goBack()">Back</button>
    @if (isOrganizer) {
      <div [matTooltip]="orderReason" [matTooltipDisabled]="canOrder">
        @if (isService) {
          <button [disabled]="!canOrder" mat-raised-button color="primary" (click)="buyBook()">Book service</button>
        } @else {
          <button [disabled]="!canOrder" mat-raised-button color="primary" (click)="buyBook()">Buy</button>
        }
      </div>
    }
  </mat-card-actions>
</mat-card>

<div *ngIf="spData" class="reviews-container">
  <div class="reviews-header">
    <h3>Reviews</h3>
    @if (isOrganizer) {
      <div [matTooltip]="reason" [matTooltipDisabled]="canReview">
        <button mat-raised-button color="primary" (click)="openReviewDialog()"
          [disabled]="!canReview" [matTooltip]="reason" [matTooltipDisabled]="canReview">Add Review</button>
      </div>
    }
  </div>
  @for (review of reviews?.content?.entries(); track review[0]) {
    <app-approved-review-card [review]="review[1]"></app-approved-review-card>
  } @empty {
    <p>No reviews yet.</p>
  }
</div>
@if (!loading && spData) {
  <mat-paginator [length]="totalElements"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  hidePageSize="true"
  [showFirstLastButtons]="true"
  (page)="onPageChange($event)"
  aria-label="Select page">
  </mat-paginator>
}



<mat-menu #reportMenu="matMenu" class="report-menu">
  <ng-template matMenuContent class="report-menu-content">
    <button mat-menu-item (click)="openReportDialog()" class="report-menu-item">
      @if (isAdmin) {
        <mat-icon>report</mat-icon>
      }
      <span>Report</span>
    </button>
    @if(isAdmin) {
      <button mat-menu-item (click)="suspendUser()">
        <mat-icon>person_off</mat-icon>
        <span>Suspend</span>
      </button>
    }
  </ng-template>
</mat-menu>